![imagen](https://cdn.foodbeast.com/content/wp-content/uploads/2012/03/beer-print-01-selectism.jpg)

# Ejercicio PySpark de pereza absoluta y total
Para este ejercicio se ha utilizado [un dataset de un concurso de kaggle](https://www.kaggle.com/nickhould/craft-cans), cuyo reto consiste en predecir el tipo de cerveza en función de sus características (nivel de alcohol, amargura, tamaño...).

# Ejercicio 1
Importa las librerias que consideres

In [75]:
import pyspark
from pyspark.sql import SparkSession

In [76]:

spark =SparkSession.builder.appName('Beers').getOrCreate() #Inicia sesión para oder utilizar los comandos de spark

In [77]:
spark

## Ejercicio 2
1. Importa el dataset "datasets_beer.csv"
2. Imprime por pantalla los primeros registros.
3. ¿Cuáles son sus columnas?
4. ¿Qué dimensiones tiene el DataFrame?

In [78]:
df = spark.read.csv("beers.csv",header=True,inferSchema=True)

In [79]:
df.show()

+---+-------------------+----+----+--------------------+--------------------+----------+------+
|_c0|                abv| ibu|  id|                name|               style|brewery_id|ounces|
+---+-------------------+----+----+--------------------+--------------------+----------+------+
|  0|               0.05|NULL|1436|            Pub Beer| American Pale Lager|       408|  12.0|
|  1|              0.066|NULL|2265|         Devil's Cup|American Pale Ale...|       177|  12.0|
|  2|              0.071|NULL|2264| Rise of the Phoenix|        American IPA|       177|  12.0|
|  3|               0.09|NULL|2263|            Sinister|American Double /...|       177|  12.0|
|  4|              0.075|NULL|2262|       Sex and Candy|        American IPA|       177|  12.0|
|  5|              0.077|NULL|2261|        Black Exodus|       Oatmeal Stout|       177|  12.0|
|  6|              0.045|NULL|2260| Lake Street Express|American Pale Ale...|       177|  12.0|
|  7|              0.065|NULL|2259|             Foreman|     American Porter|       177|  12.0|
|  8|              0.055|NULL|2258|                Jade|American Pale Ale...|       177|  12.0|
|  9|              0.086|NULL|2131|        Cone Crusher|American Double /...|       177|  12.0|
| 10|0.07200000000000001|NULL|2099|   Sophomoric Saison|Saison / Farmhous...|       177|  12.0|
| 11|              0.073|NULL|2098|Regional Ring Of ...|Saison / Farmhous...|       177|  12.0|
| 12|              0.069|NULL|2097|          Garce Selé|Saison / Farmhous...|       177|  12.0|
| 13|              0.085|NULL|1980|     Troll Destroyer|         Belgian IPA|       177|  12.0|
| 14|              0.061|60.0|1979|        Bitter Bitch|American Pale Ale...|       177|  12.0|
| 15|               0.06|NULL|2318|         Ginja Ninja|               Cider|       154|  12.0|
| 16|               0.06|NULL|2170|       Cherried Away|               Cider|       154|  12.0|
| 17|               0.06|NULL|2169|        Rhubarbarian|               Cider|       154|  12.0|
| 18|               0.06|NULL|1502|         BrightCider|               Cider|       154|  12.0|
| 19|0.08199999999999999|NULL|1593|He Said Baltic-St...|       Baltic Porter|       368|  12.0|
+---+-------------------+----+----+--------------------+--------------------+----------+------+
only showing top 20 rows

24/03/09 13:22:41 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , abv, ibu, id, name, style, brewery_id, ounces
 Schema: _c0, abv, ibu, id, name, style, brewery_id, ounces
Expected: _c0 but found:
CSV file: file:///home/carlos/2023/DSPT_TBS_SVL_0923/4-Data_Engineering/1-Spark/ejercicio/beers.csv

In [80]:
df.columns

['_c0', 'abv', 'ibu', 'id', 'name', 'style', 'brewery_id', 'ounces']

In [81]:
print(f"Filas: {df.count()} | Columnas: {len(df.columns)}")

Filas: 2410 | Columnas: 8

## Ejercicio 3
[Elimina la columna "Unnamed: 0"](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

In [82]:
df = df.drop("_c0")

## Ejercicio 4
¿Cuántas filas y columnas tiene el dataset?

In [83]:
print(f"Filas: {df.count()} | Columnas: {len(df.columns)}")

Filas: 2410 | Columnas: 7

## Ejercicio 5
¿De qué tipo son los datos?

In [84]:
df.printSchema()

root
 |-- abv: double (nullable = true)
 |-- ibu: double (nullable = true)
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- style: string (nullable = true)
 |-- brewery_id: integer (nullable = true)
 |-- ounces: double (nullable = true)

## Ejercicio 6
Obtén en una nuevo DataFrame un resumen con las principales estadísticas de las columnas numércias: mean, max, count, cuartiles...

In [85]:
df.describe().show()

+-------+--------------------+------------------+------------------+--------------------+----------------+------------------+------------------+
|summary|                 abv|               ibu|                id|                name|           style|        brewery_id|            ounces|
+-------+--------------------+------------------+------------------+--------------------+----------------+------------------+------------------+
|  count|                2348|              1405|              2410|                2410|            2405|              2410|              2410|
|   mean| 0.05977342419080093| 42.71316725978647|1431.1132780082987|  1377.6666666666667|            NULL|231.74979253112033|13.592240663900421|
| stddev|0.013541733716680274|25.954065911259327|  752.459974559907|   524.9231689812647|            NULL|157.68560410041613|2.3522036778603725|
|    min|               0.001|               4.0|                 1|#001 Golden Amber...|Abbey Single Ale|                 0|               8.4|
|    max|               0.128|             138.0|              2692|the Kimmie, the Y...|         Witbier|               557|              32.0|
+-------+--------------------+------------------+------------------+--------------------+----------------+------------------+------------------+

## Ejercicio 7
¿Cuántas birras hay de cada estilo en este dataset? [Investiga en la documentación de Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html) si puedes hacer un conteo de valores.

In [86]:
df.groupby('style').count().show()

+--------------------+-----+
|               style|count|
+--------------------+-----+
|American Pale Ale...|  245|
|American Double /...|  105|
| American Barleywine|    3|
|  English Strong Ale|    4|
|American Amber / ...|  133|
|             Altbier|   13|
|Märzen / Oktoberfest|   30|
| American Strong Ale|   14|
|              Radler|    3|
|           Rauchbier|    2|
|      Bière de Garde|    7|
|Herbed / Spiced Beer|    9|
|American Adjunct ...|   18|
|        Scottish Ale|   19|
|         Smoked Beer|    1|
|         Light Lager|   12|
|       Kristalweizen|    1|
|              Tripel|   11|
|  American Black Ale|   36|
|    Belgian Pale Ale|   24|
+--------------------+-----+
only showing top 20 rows

## Ejercicio 8
1. Imprime por pantalla los registros del 10 al 20
2. De esos registros, imprime por pantalla desde la columna `name` a `ounces`, ambas incluidas
3. Quédate con las columnas `abv`, `ibu` y `ounces`, y además quédate sólo con los registros 10 al 20.
4. Convierte el resultado del apartado 3 en un array de `numpy`

In [87]:
df.select(df.columns[3:])

DataFrame[name: string, style: string, brewery_id: int, ounces: double]

## Ejercicio 9
¿Cuántas onzas pesan todas las birras del dataset?

In [88]:
import pyspark.sql.functions as spfun

Funciones de Spark 

https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html

In [89]:
df.select(spfun.sum("ounces")).show()

+------------------+
|       sum(ounces)|
+------------------+
|32757.300000000014|
+------------------+

## Ejercicio 10
El amargor de las cervezas se mide por su nivel de IBUs.
1. ¿Cuál es el amargor medio de las cervezas?
2. ¿El máximo? ¿Y el mínimo?
3. ¿Qué cerveza es la que tiene el amargor máximo? ¿Cuál es la de amargor mínimo?

In [90]:
df.describe('ibu').show()

+-------+------------------+
|summary|               ibu|
+-------+------------------+
|  count|              1405|
|   mean| 42.71316725978647|
| stddev|25.954065911259327|
|    min|               4.0|
|    max|             138.0|
+-------+------------------+

In [91]:
df.select(['name','ibu']).orderBy('ibu',ascending=False).show(1)

+--------------------+-----+
|                name|  ibu|
+--------------------+-----+
|Bitter Bitch Impe...|138.0|
+--------------------+-----+
only showing top 1 row

In [92]:
x = df.select(spfun.max("ibu")).first()[0]

In [93]:
df.filter(df['ibu'] == x).show()

+-------------------+-----+---+--------------------+--------------------+----------+------+
|                abv|  ibu| id|                name|               style|brewery_id|ounces|
+-------------------+-----+---+--------------------+--------------------+----------+------+
|0.08199999999999999|138.0|980|Bitter Bitch Impe...|American Double /...|       374|  12.0|
+-------------------+-----+---+--------------------+--------------------+----------+------+

## Ejercicio 15
1. ¿Qué estilos son los que tienen en media más alcohol?
2. ¿Y los estilos que son en media más amargos?

In [94]:
df.groupby('style').agg({'abv':'mean'}).orderBy('avg(abv)',ascending=False).show(5)

+--------------------+-------------------+
|               style|           avg(abv)|
+--------------------+-------------------+
|  English Barleywine|0.10766666666666667|
|    Quadrupel (Quad)|0.10400000000000001|
| American Barleywine|0.09900000000000002|
|American Malt Liquor|              0.099|
|Russian Imperial ...|0.09763636363636362|
+--------------------+-------------------+
only showing top 5 rows

In [95]:
df.groupby('style').agg({'ibu':'mean'}).orderBy('avg(ibu)',ascending=False).show(5)

+--------------------+--------+
|               style|avg(ibu)|
+--------------------+--------+
| American Barleywine|    96.0|
|American Double /...|   93.32|
|Russian Imperial ...|    86.5|
|American Double /...|    85.0|
|Belgian Strong Da...|    72.0|
+--------------------+--------+
only showing top 5 rows

## Ejercicio 16
Carga el datasets de cervecerias `datasets_breweries.csv`

In [96]:
df2 = spark.read.csv("breweries.csv",header=True,inferSchema=True)

In [97]:
df2.show()

+---+--------------------+-------------+-----+
|_c0|                name|         city|state|
+---+--------------------+-------------+-----+
|  0|  NorthGate Brewing |  Minneapolis|   MN|
|  1|Against the Grain...|   Louisville|   KY|
|  2|Jack's Abby Craft...|   Framingham|   MA|
|  3|Mike Hess Brewing...|    San Diego|   CA|
|  4|Fort Point Beer C...|San Francisco|   CA|
|  5|COAST Brewing Com...|   Charleston|   SC|
|  6|Great Divide Brew...|       Denver|   CO|
|  7|    Tapistry Brewing|     Bridgman|   MI|
|  8|    Big Lake Brewing|      Holland|   MI|
|  9|The Mitten Brewin...| Grand Rapids|   MI|
| 10|      Brewery Vivant| Grand Rapids|   MI|
| 11|    Petoskey Brewing|     Petoskey|   MI|
| 12|  Blackrocks Brewery|    Marquette|   MI|
| 13|Perrin Brewing Co...|Comstock Park|   MI|
| 14|Witch's Hat Brewi...|   South Lyon|   MI|
| 15|Founders Brewing ...| Grand Rapids|   MI|
| 16|   Flat 12 Bierwerks| Indianapolis|   IN|
| 17|Tin Man Brewing C...|   Evansville|   IN|
| 18|Black Acre Brewin...| Indianapolis|   IN|
| 19|   Brew Link Brewing|   Plainfield|   IN|
+---+--------------------+-------------+-----+
only showing top 20 rows

24/03/09 13:22:48 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , name, city, state
 Schema: _c0, name, city, state
Expected: _c0 but found:
CSV file: file:///home/carlos/2023/DSPT_TBS_SVL_0923/4-Data_Engineering/1-Spark/ejercicio/breweries.csv

## Ejercicio 17
1. Renombra la columna `Unnamed: 0` como `brewery_id`
2. Renombra tb la columna `name` por `brewery_name`. ¿Puedes hacer ambos apartados en una sola sentencia?

In [98]:
df2 = df2.withColumnRenamed('_c0','brewery_id').withColumnRenamed('name','brewery_name')

## Ejercicio 18
Junta los dos datasets que tienes

In [99]:
df.show(5)

+-----+----+----+-------------------+--------------------+----------+------+
|  abv| ibu|  id|               name|               style|brewery_id|ounces|
+-----+----+----+-------------------+--------------------+----------+------+
| 0.05|NULL|1436|           Pub Beer| American Pale Lager|       408|  12.0|
|0.066|NULL|2265|        Devil's Cup|American Pale Ale...|       177|  12.0|
|0.071|NULL|2264|Rise of the Phoenix|        American IPA|       177|  12.0|
| 0.09|NULL|2263|           Sinister|American Double /...|       177|  12.0|
|0.075|NULL|2262|      Sex and Candy|        American IPA|       177|  12.0|
+-----+----+----+-------------------+--------------------+----------+------+
only showing top 5 rows

In [100]:
df2.show(2)

+----------+--------------------+-----------+-----+
|brewery_id|        brewery_name|       city|state|
+----------+--------------------+-----------+-----+
|         0|  NorthGate Brewing |Minneapolis|   MN|
|         1|Against the Grain...| Louisville|   KY|
+----------+--------------------+-----------+-----+
only showing top 2 rows

24/03/09 13:22:48 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , name, city, state
 Schema: _c0, name, city, state
Expected: _c0 but found:
CSV file: file:///home/carlos/2023/DSPT_TBS_SVL_0923/4-Data_Engineering/1-Spark/ejercicio/breweries.csv

In [154]:
dff = df.join(df2,on="brewery_id",how='left')

In [156]:
dff.show(3)

24/03/09 13:43:25 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , name, city, state
 Schema: _c0, name, city, state
Expected: _c0 but found:
CSV file: file:///home/carlos/2023/DSPT_TBS_SVL_0923/4-Data_Engineering/1-Spark/ejercicio/breweries.csv

+----------+-----+----+----+-------------------+--------------------+------+--------------------+----+-----+
|brewery_id|  abv| ibu|  id|               name|               style|ounces|        brewery_name|city|state|
+----------+-----+----+----+-------------------+--------------------+------+--------------------+----+-----+
|       408| 0.05|NULL|1436|           Pub Beer| American Pale Lager|  12.0|10 Barrel Brewing...|Bend|   OR|
|       177|0.066|NULL|2265|        Devil's Cup|American Pale Ale...|  12.0| 18th Street Brewery|Gary|   IN|
|       177|0.071|NULL|2264|Rise of the Phoenix|        American IPA|  12.0| 18th Street Brewery|Gary|   IN|
+----------+-----+----+----+-------------------+--------------------+------+--------------------+----+-----+
only showing top 3 rows

## Ejercicio 19
1. ¿Cuántos estados diferentes hay?
2. ¿Y ciudades diferentes?
3. ¿Cuántas cervecerías hay?

In [157]:
df2.select('state').distinct().show()

+-----+
|state|
+-----+
|   WY|
|   OR|
|   AR|
|   NE|
|   TN|
|   MN|
|   MA|
|   MO|
|   ND|
|   KS|
|   NY|
|   GA|
|   VA|
|   OK|
|   HI|
|   AZ|
|   WI|
|   RI|
|   LA|
|   MT|
+-----+
only showing top 20 rows

In [158]:
df2.select('city').distinct().show()

+------------------+
|              city|
+------------------+
|        Evansville|
|            Export|
|           Chicago|
|       Saint Louis|
|          Westerly|
|           Newport|
|         Milwaukee|
|         Cheboygan|
|        Birmingham|
|           Raleigh|
|            Eugene|
|       Garden City|
|    Fredericksburg|
|          Ponderay|
|           Bozeman|
|Middleburg Heights|
|        Plant City|
|          Stamford|
|           Montauk|
|           Kearney|
+------------------+
only showing top 20 rows

In [159]:
df2.groupby('brewery_name').count().show()

+--------------------+-----+
|        brewery_name|count|
+--------------------+-----+
|    Tapistry Brewing|    1|
|The Mitten Brewin...|    1|
|Ballast Point Bre...|    1|
| Lost Nation Brewing|    1|
|Tallgrass Brewing...|    1|
|Firestone Walker ...|    1|
|Pipeworks Brewing...|    1|
|     Destihl Brewery|    1|
|Freetail Brewing ...|    1|
| 3 Daughters Brewing|    1|
|          Ale Asylum|    1|
|Bent Paddle Brewi...|    1|
|Speakasy Ales & L...|    1|
|Thomas Hooker Bre...|    1|
|Woodstock Inn, St...|    1|
|Mother Earth Brew...|    1|
|Karbach Brewing C...|    1|
|Deep Ellum Brewin...|    1|
|Minhas Craft Brewery|    1|
|Independence Brew...|    1|
+--------------------+-----+
only showing top 20 rows

## Ejercicio 20
Agrupa por estado y ciudad, la media, mediana y máximo nivel de alcohol

In [160]:
dff.groupBy(['state','city']).agg(spfun.max('abv'),spfun.mean('abv'),spfun.median('abv')).show()

24/03/09 13:43:29 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , city, state
 Schema: _c0, city, state
Expected: _c0 but found:
CSV file: file:///home/carlos/2023/DSPT_TBS_SVL_0923/4-Data_Engineering/1-Spark/ejercicio/breweries.csv

+-----+----------------+--------------------+--------------------+--------------------+
|state|            city|            max(abv)|            avg(abv)|         median(abv)|
+-----+----------------+--------------------+--------------------+--------------------+
|   AK|       Anchorage|               0.063|              0.0542|0.052000000000000005|
|   AK|          Juneau|               0.053|               0.053|               0.053|
|   AK|        Soldotna|               0.068|0.058499999999999996|0.057999999999999996|
|   AK|       Talkeetna|               0.065|              0.0595|0.058499999999999996|
|   AL|      Birmingham| 0.09300000000000001|              0.0654|                0.06|
|   AL|         Gadsden|                0.06|                0.06|                0.06|
|   AL|      Huntsville| 0.07200000000000001| 0.05766666666666667|               0.051|
|   AR|          Rogers|                0.04|                0.04|                0.04|
|   AR|      Springdale|               0.061|               0.055| 0.05450000000000001|
|   AZ|        Chandler|               0.095| 0.06315789473684212|               0.055|
|   AZ|       Flagstaff|               0.061|0.055200000000000006|0.054000000000000006|
|   AZ|Lake Havasu City|               0.085| 0.06616666666666667|               0.065|
|   AZ|         Phoenix|               0.061|               0.061|               0.061|
|   AZ|        Prescott|                NULL|                NULL|                NULL|
|   AZ|           Tempe|               0.067| 0.05485714285714286|0.052000000000000005|
|   AZ|          Tucson|               0.071|0.058666666666666666|                0.06|
|   AZ|        Williams|0.054000000000000006| 0.05200000000000001|0.052000000000000005|
|   CA|         Belmont| 0.07400000000000001| 0.06633333333333334|               0.071|
|   CA|       Boonville|                0.07|0.056888888888888905|               0.057|
|   CA|        Buellton|               0.055| 0.04933333333333334|               0.048|
+-----+----------------+--------------------+--------------------+--------------------+
only showing top 20 rows

## Ejercicio 21
¿Cuáles son las cervezas más amargas que se consumen en Indiana, estado = `IN`?

In [161]:
dff.filter(dff['state']==' IN').orderBy('ibu',ascending=False).show(3)

24/03/09 13:43:31 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , name, city, state
 Schema: _c0, name, city, state
Expected: _c0 but found:
CSV file: file:///home/carlos/2023/DSPT_TBS_SVL_0923/4-Data_Engineering/1-Spark/ejercicio/breweries.csv

+----------+-----+-----+----+--------------------+--------------------+------+--------------------+-------------+-----+
|brewery_id|  abv|  ibu|  id|                name|               style|ounces|        brewery_name|         city|state|
+----------+-----+-----+----+--------------------+--------------------+------+--------------------+-------------+-----+
|        24|0.099|115.0|2471|    Hopkick Dropkick|American Double /...|  12.0|    Burn 'Em Brewing|Michigan City|   IN|
|        17|0.085|115.0|1449|Overlord Imperial...|American Double /...|  16.0|Tin Man Brewing C...|   Evansville|   IN|
|        16| 0.06|104.0|1610|      Half Cycle IPA|        American IPA|  16.0|   Flat 12 Bierwerks| Indianapolis|   IN|
+----------+-----+-----+----+--------------------+--------------------+------+--------------------+-------------+-----+
only showing top 3 rows

## Ejercicio 22
Obtén una tabla con los principales estadísticos del campo `ibu`,  a nivel ciudad

In [162]:
dff.groupBy(['city']).agg(spfun.max('ibu'),spfun.mean('ibu'),spfun.min('ibu'),spfun.median('ibu')).show()

24/03/09 13:43:31 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , city
 Schema: _c0, city
Expected: _c0 but found:
CSV file: file:///home/carlos/2023/DSPT_TBS_SVL_0923/4-Data_Engineering/1-Spark/ejercicio/breweries.csv

+------------------+--------+------------------+--------+-----------+
|              city|max(ibu)|          avg(ibu)|min(ibu)|median(ibu)|
+------------------+--------+------------------+--------+-----------+
|          Abingdon|   135.0|             135.0|   135.0|      135.0|
|     Abita Springs|    52.0|27.333333333333332|    13.0|       17.0|
|               Ada|    NULL|              NULL|    NULL|       NULL|
|             Afton|    60.0|              43.0|    22.0|       45.0|
|    Airway Heights|    NULL|              NULL|    NULL|       NULL|
|       Albuquerque|   100.0|             54.25|    15.0|       51.0|
|            Alpine|    NULL|              NULL|    NULL|       NULL|
|         Anchorage|    70.0|              40.4|    10.0|       42.5|
|            Angola|    30.0|              19.0|     8.0|       19.0|
|         Ann Arbor|    15.0|              15.0|    15.0|       15.0|
|         Arrington|    16.0|              16.0|    16.0|       16.0|
|            Arvada|    72.0|45.666666666666664|    29.0|       36.0|
|           Ashburn|    65.0|              60.0|    55.0|       60.0|
|         Asheville|    69.0|36.666666666666664|    24.0|       29.5|
|           Ashland|   100.0| 54.23529411764706|    16.0|       55.0|
|             Aspen|    67.0|              47.0|    27.0|       47.0|
|           Astoria|   138.0|              69.0|    35.0|       40.0|
|            Athens|    65.0|              53.5|    42.0|       53.5|
|           Atlanta|    35.0|              35.0|    35.0|       35.0|
|Atlantic Highlands|   100.0|              56.0|     9.0|       57.5|
+------------------+--------+------------------+--------+-----------+
only showing top 20 rows

## Ejercicio 23
Consigue en un DataFrame todas las cervezas en cuyas cervecerías el mínimo nivel de `abv` sea de 0.07.

In [163]:
dff

DataFrame[brewery_id: int, abv: double, ibu: double, id: int, name: string, style: string, ounces: double, brewery_name: string, city: string, state: string]

In [167]:
cervecerias = dff.groupby('brewery_id').agg(spfun.min('abv')).filter('min(abv) > 0.07 ')

In [168]:
df

DataFrame[abv: double, ibu: double, id: int, name: string, style: string, brewery_id: int, ounces: double]

In [169]:
cervecerias.show()

+----------+-------------------+
|brewery_id|           min(abv)|
+----------+-------------------+
|        18|0.07200000000000001|
|       304|               0.08|
|       231|              0.071|
|       432|0.07400000000000001|
|        64|0.08199999999999999|
|       509|0.07400000000000001|
|       358|0.07200000000000001|
|       421|               0.08|
|       306|0.08800000000000001|
|        95|              0.073|
|        99|0.08900000000000001|
|       260|0.08199999999999999|
|       208|              0.071|
|       274|              0.099|
|        28|               0.08|
|       354|               0.08|
|       322|              0.073|
+----------+-------------------+

In [171]:
cervecerias.select('brewery_id').join(df,on="brewery_id",how="left").show()

+----------+-------------------+-----+----+--------------------+--------------------+------+
|brewery_id|                abv|  ibu|  id|                name|               style|ounces|
+----------+-------------------+-----+----+--------------------+--------------------+------+
|        18|0.07200000000000001| 75.0|2620|      Saucy Intruder|            Rye Beer|  16.0|
|       304|               0.08| 80.0|1812|Quarter Mile Doub...|American Double /...|  12.0|
|       231|              0.071| 16.0|2062|         Noche Dulce|     American Porter|  16.0|
|       432|0.07400000000000001| 60.0|1302| Blur India Pale Ale|        American IPA|  12.0|
|        64|0.08199999999999999| NULL|2536|         Tripel Deke|              Tripel|  24.0|
|        64|              0.085| NULL|2537|Monkey Dancing On...|         Belgian IPA|  24.0|
|       509|               0.08| 31.0| 761|         P-51 Porter|     American Porter|  16.0|
|       509|0.07400000000000001| 83.0| 762|             Ace IPA|        American IPA|  16.0|
|       358|0.07200000000000001| NULL|1623|        Lift Off IPA|        American IPA|  16.0|
|       421|               0.08| NULL|1373|Black Raspberry N...|                Mead|  16.0|
|       421|               0.08| NULL|1374|     Sunshine Nectar|                Mead|  16.0|
|       421|               0.08| NULL|1375|  Nectar of the Hops|                Mead|  16.0|
|       306|0.08800000000000001|108.0|1806| Hoptopus Double IPA|American Double /...|  16.0|
|        95|              0.073| NULL|2449|       Flying Sailor|            Rye Beer|  12.0|
|        99|0.08900000000000001|126.0|2440|Bay of Bengal Dou...|American Double /...|  12.0|
|       260|0.08199999999999999| NULL|1952|         Train Wreck|American Amber / ...|  16.0|
|       208|              0.075| 24.0|2162|Lewbricator Wheat...|          Doppelbock|  12.0|
|       208|              0.071| NULL|2163|      Sucha Much IPA|        American IPA|  12.0|
|       274|              0.099| NULL|1909|Big Chuck Barleywine| American Barleywine|  12.0|
|        28|               0.08| 22.0|2601|           Deduction|              Dubbel|  12.0|
+----------+-------------------+-----+----+--------------------+--------------------+------+
only showing top 20 rows

## Ejercicio 24
Teniendo en cuenta la media de amargor de todas las cervezas, obtén una tabla con las cervezas cuyos estados tengan una media de amargor en cerveza por encima de la media