# Regimientos

In [1]:
import pandas as pd

### Paso 2. Crear el DataFrame con los siguientes valores:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Paso 3. Asignar a una variable llamada regimiento.

In [3]:
regiment = pd.DataFrame(raw_data)
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

In [4]:
regiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   regiment       12 non-null     object
 1   company        12 non-null     object
 2   name           12 non-null     object
 3   preTestScore   12 non-null     int64
 4   postTestScore  12 non-null     int64
dtypes: int64(2), object(3)
memory usage: 608.0+ bytes

In [5]:
regiment.describe()

       preTestScore  postTestScore
count     12.000000      12.000000
mean      11.083333      62.333333
std       12.324833      21.376850
min        2.000000      25.000000
25%        2.750000      57.000000
50%        3.500000      62.000000
75%       24.000000      70.000000
max       31.000000      94.000000

### Paso 4. ¿Cuál es la puntuación media de preTestScore del regimiento Nighthawks?

In [9]:
regiment[regiment['regiment'] == "Nighthawks"]['preTestScore'].mean()

15.25


### Paso 5. Presentar las estadísticas generales por compañía

In [12]:
regiment.groupby('company').describe()

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

In [14]:
# regiment.groupby(['regiment','company']).describe()

### Paso 6. ¿Cuál es la media de las puntuaciones preTestScore de cada empresa?

In [16]:
regiment.groupby('company')[['preTestScore']].mean()

         preTestScore
company
1st          6.666667
2nd         15.500000

### Paso 7. Muestra las puntuaciones medias de preTestScore agrupadas por regimiento y compañía

In [17]:
regiment.groupby(['regiment','company'])['preTestScore'].mean()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Paso 8. Presentar la media de las puntuaciones preTestScores agrupadas por regimiento y compañía sin usar indexación heirárquica

In [18]:
regiment.groupby(['regiment','company'], as_index=False)['preTestScore'].mean()

     regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

### Paso 9. Agrupar todo el marco de datos por regimiento y compañía

In [27]:
otro_df = regiment.groupby(['regiment','company']).describe()
otro_df

                   preTestScore                                             \
                          count  mean        std   min    25%   50%    75%
regiment   company
Dragoons   1st              2.0   3.5   0.707107   3.0   3.25   3.5   3.75
           2nd              2.0  27.5   4.949747  24.0  25.75  27.5  29.25
Nighthawks 1st              2.0  14.0  14.142136   4.0   9.00  14.0  19.00
           2nd              2.0  16.5  20.506097   2.0   9.25  16.5  23.75
Scouts     1st              2.0   2.5   0.707107   2.0   2.25   2.5   2.75
           2nd              2.0   2.5   0.707107   2.0   2.25   2.5   2.75

                         postTestScore                                      \
                     max         count  mean        std   min    25%   50%
regiment   company
Dragoons   1st       4.0           2.0  47.5  31.819805  25.0  36.25  47.5
           2nd      31.0           2.0  75.5  26.162951  57.0  66.25  75.5
Nighthawks 1st      24.0           2.0  59.5  48.790368  25.0  42.25  59.5
           2nd      31.0           2.0  59.5   3.535534  57.0  58.25  59.5
Scouts     1st       3.0           2.0  66.0   5.656854  62.0  64.00  66.0
           2nd       3.0           2.0  66.0   5.656854  62.0  64.00  66.0


                      75%   max
regiment   company
Dragoons   1st      58.75  70.0
           2nd      84.75  94.0
Nighthawks 1st      76.75  94.0
           2nd      60.75  62.0
Scouts     1st      68.00  70.0
           2nd      68.00  70.0

### Paso 10. Cuál es el número de observaciones en cada regimiento y compañía

In [34]:
regiment.groupby(['regiment','company'])[['name']].count()

                    name
regiment   company
Dragoons   1st         2
           2nd         2
Nighthawks 1st         2
           2nd         2
Scouts     1st         2
           2nd         2

### Paso 11. Iterar sobre un grupo e imprimir el nombre y los datos completos del regimiento. Haz una función llamada agrupa(variable)

In [35]:
group = regiment.groupby('regiment')

group

In [37]:
for x in group:
    print(x)
    print("-"*10)

('Dragoons',    regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57)
----------
('Nighthawks',      regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62)
----------
('Scouts',    regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70)
----------

In [44]:
def agrupa(variable):
    group = regiment.groupby(variable)

    for x in group:
        print(x)
        print("-"*10)

In [45]:
agrupa('preTestScore')

(2,       regiment company    name  preTestScore  postTestScore
3   Nighthawks     2nd  Milner             2             62
8       Scouts     1st   Sloan             2             62
10      Scouts     2nd   Riani             2             62)
----------
(3,     regiment company   name  preTestScore  postTestScore
4   Dragoons     1st  Cooze             3             70
9     Scouts     1st  Piger             3             70
11    Scouts     2nd    Ali             3             70)
----------
(4,      regiment company    name  preTestScore  postTestScore
0  Nighthawks     1st  Miller             4             25
5    Dragoons     1st   Jacon             4             25)
----------
(24,      regiment company      name  preTestScore  postTestScore
1  Nighthawks     1st  Jacobson            24             94
6    Dragoons     2nd    Ryaner            24             94)
----------
(31,      regiment company  name  preTestScore  postTestScore
2  Nighthawks     2nd   Ali            31             57
7    Dragoons     2nd  Sone            31             57)
----------