### Pyspark GroupBy And Aggregate Functions

#### INICIAMOS LA SESIÃ“N

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()

your 131072x1 screen size is bogus. expect trouble
24/03/09 12:13:50 WARN Utils: Your hostname, DESKTOP-8EEJDSD resolves to a loopback address: 127.0.1.1; using 172.18.231.103 instead (on interface eth0)
24/03/09 12:13:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/09 12:13:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/09 12:13:54 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/03/09 12:13:54 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
spark

#### GROUPBY Y AGGREGATE

In [3]:
df_pyspark = spark.read.csv('data/test3.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [4]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

GROUPBY

In [8]:
df_agg = df_pyspark.groupBy('Departments').max()

In [9]:
df_agg.show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|Data Science|      20000|
|    Big Data|       5000|
|         IOT|      10000|
+------------+-----------+

In [11]:
x = df_agg.toPandas()

In [13]:
type(x)

pandas.core.frame.DataFrame

In [14]:
x

    Departments  max(salary)
0  Data Science        20000
1      Big Data         5000
2           IOT        10000