![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [1]:
ejer_1 = [1,2,3,4,5]
ejer_1.reverse()
print(ejer_1)

[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [8]:
ejer_2 = [1,2,3,4,5]

In [4]:
for index, value in enumerate(ejer_2):
    ejer_2[index] = value**2

print(ejer_2)

[1, 4, 9, 16, 25]

In [7]:
index = 0
for value in ejer_2:
    ejer_2[index] = value**2
    index = index + 1

print(ejer_2)

[1, 4, 9, 16, 25]

In [9]:
for index in range(len(ejer_2)):
    ejer_2[index] = ejer_2[index]**2

print(ejer_2)

[1, 4, 9, 16, 25]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [11]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

In [13]:
lista = []
for valor1 in ejer_3_1:
    for valor2 in ejer_3_2:
        lista.append(valor1 + " " + valor2)
lista

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

## Ejercicio 4
Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [20]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

In [15]:
index = 0
for valor in ejer_4:
    if valor == 45:
        ejer_4[index] = 0
    index = index + 1
ejer_4

[20, 47, 19, 29, 0, 67, 78, 90]

In [18]:
for index,valor in enumerate(ejer_4):
    if valor == 45:
        ejer_4[index] = 0
ejer_4

[20, 47, 19, 29, 0, 67, 78, 90]

In [22]:
index = ejer_4.index(45)
index
ejer_4[index] = 0
ejer_4

[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [28]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
ejer_5_1 = ejer_5.copy()
ejer_5_1

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

In [24]:
errorpsitions = []
for index, valor in enumerate(ejer_5):
    if valor == 3:
        errorpsitions.append(index)
errorpsitions

# ESTA SOLUCIÓN TIENE POCO FUTURO

[0, 2, 5, 11, 12]

In [25]:
ejer_5.remove(3)
ejer_5

[20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

In [29]:
for valor in ejer_5:
    if valor == 3:
        ejer_5_1.remove(3)
ejer_5_1

[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [42]:
ejer_6_1 = (3,5,7)

ejer_6_2 = (4,)
print(type(ejer_6_2))

ejer_6_3 = ("hola",True,56.7)
print(ejer_6_3[0])
print(ejer_6_3[len(ejer_6_3)-1])

ejer_6_4 = (5,)
ejer_6_4_1 = ejer_6_3 + ejer_6_4
ejer_6_4_1

ejer_6_5_1 = (ejer_6_4_1[0],)
ejer_6_5_2 = ejer_6_4_1[2:]
print(ejer_6_5_1,ejer_6_5_2)

ejer_6_5_3 = ejer_6_5_1 + ejer_6_5_2
print(ejer_6_5_3)

ejer_6_6 = list(ejer_6_5_3)
print(ejer_6_6)

<class 'tuple'>
hola
56.7
('hola',) (56.7, 5)
('hola', 56.7, 5)
['hola', 56.7, 5]

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [44]:
ejer_7 = ("cien", "cañones", "por", "banda")
" ".join(ejer_7)

'cien cañones por banda'

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [49]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)
print(ejer_8[2])
print(ejer_8[10])
print(ejer_8[-3])

3
90
90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [50]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

rep = 0
for element in ejer_9:
    if element == 3:
        rep = rep +1

rep

7

In [54]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

print(ejer_9.count(3))

ejer_9_2 = ejer_9[4:10]
print(ejer_9_2)

print(len(ejer_9))

7
(19, 3, 29, 45, 67, 78)
26

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [57]:
if 67 in ejer_9:
    print("Eureka!")

67 in ejer_9

Eureka!

True

In [61]:
for element in ejer_9:
    if element == 3:
        print("Eureka!")
        break

Eureka!

## Ejercicio 11
1. Convierte la tupla del apartado 10 en una lista
2. Convierte la tupla del apartado 10 en un set
3. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices

In [66]:
print(list(ejer_9))

print(set(ejer_9))

ejer_11 = {}

for index, valor in enumerate(ejer_9):
    ejer_11[index] = valor

print(ejer_11)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]
{2, 3, 67, 5, 4, 7, 6, 9, 45, 78, 47, 19, 20, 90, 29}
{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

## Ejercicio 12
Convierte la siguiente lista en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [67]:
ejer_12 = dict([("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)])
ejer_12

{'x': 3, 'y': 2, 'z': 1}

In [68]:
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

ejer_12_dict = {}

for tuple in ejer_12:
    ejer_12_dict[tuple[0]] = tuple[1]

ejer_12_dict

{'x': 3, 'y': 2, 'z': 1}

In [70]:
ejer_12_dict.get("y")

2

In [73]:
ejer_12_dict = {}

for tuple in ejer_12:
    x = ejer_12_dict.get(tuple[0],[])
    x.append(tuple[1])
    ejer_12_dict[tuple[0]] = x

ejer_12_dict

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave con el valor de 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

In [85]:
ejer_13 = {4:78, 2:98, 8:234, 5:29}

keys = list(ejer_13.keys())

print(sorted(keys))

print(sorted(keys,reverse=True))

ejer_13[7] = 56
ejer_13

print(ejer_13[2])
ejer_13.get(2,"No existe!")

[2, 4, 5, 8]
[8, 5, 4, 2]
98

98

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

In [86]:
ejer_14_1 = {1: 11, 2: 22}
ejer_14_2 = {3: 33, 4: 44}

ejer_14_1.update(ejer_14_2)

ejer_14_1

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [90]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
values = list(ejer_15.values())
sum(values)

165

In [93]:
suma = 0
for value in ejer_15.values():
    #print(value)
    suma = suma + value

print(suma)

165

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [95]:
ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

prod = 1
for value in ejer_15.values():
    #print(value)
    prod = prod*value 
print(prod)

19326120

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el último elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [103]:
ejer_17 = set([2,4,5])
ejer_17

ejer_17.add(9)
ejer_17

ejer_17.remove(9)
ejer_17

ejer_17.discard(10)
ejer_17

{2, 4, 5}